*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  line-height: 175%;
  margin: 0;
  color: #ddd;
}

body {
  background-image: url("../images/background.png");
  background-size: auto;
  overflow: auto;
  background-color: black;
}

#playArea {
  margin: 0 auto;
  height: 100%;
  padding: 30px;
  overflow: auto;
  min-height: 600px;
}

.questionNumber, .timeRemaining {
  text-align: center;
  font-size: 80%;
}

.textArea {
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
  min-height: 3em;
}

#choiceArea {
  display: inline-block;  
  width: 100%;
}

.choice {
  border: 1px #555 solid;
  width: 100%;
  padding: 0 70px;
  min-height: 80px;
  margin: 10px 0px;
  overflow: auto;
  line-height: 1.5em;
  position: relative;
  text-align: center;
  background-color: #222;
  display: table;
  border-radius: 35px;
}

.choice p {
  display: table-cell;
  margin: 5px 5px 5px 805pxpx;
  font-size: 125%;
  padding: 10px;
  vertical-align: middle;
}

.correctAlert {
  color: green;
  text-shadow: 0px 0px 6px #008800;
  font-size: 150%;
  text-align: center;
}

.incorrectAlert {
  color: red;
  text-shadow: 0px 1px 1px #990000, 0 3px #660000, 0px -1px red;
  font-size: 150%;
  text-align: center;
}

.flag {
  position: absolute;
  top: 0px;
  height: 100%;
}

.flavorImage {
  display: inline-block;
  padding: 10px;
  margin: 8px auto;
  width: 100%;
  vertical-align: top;
  background-color: #333333;
  border: 2px black solid;
}

#endScreen {
  margin-top: 10%;
  font-size: 150%;
  text-align: center;
  line-height: 150%;
}
#endScreen p {
  margin-bottom: 15px;
}

.finalImage {
  padding: 10px;
  margin: 15px auto;
  width: 100%;
  background-color: #333333;
  border: 2px black solid;
}

#newGame {
  margin: 25% auto;
  width: 75%;
  background-color: black;
  border: 1px solid red;
  padding: 60px 20%;
  text-align: center;
}

p {
  font-size: 150%;
}

i {
  font-style: italic;
}

h1 {
  font-family: 'Nosifer', cursive;
  font-size: 5vw;
  color: black;
  margin: 15px 0 3vw;
  text-align: center;
  width: 100%;
  text-shadow: 0px 3px 3px #990000, 0 6px #660000, 0px -1px red;
}

/* Tablet Portrait */
@media screen and (min-width: 600px) {
  .flavorImage {
    float: right;
    width: 34%;
  }
  
  .finalImage {
    width: 70%;
  }

  #choiceArea {
    width: 64%;
  }
}


/* Tablet Landscape */
@media screen and (min-width: 1024px) {
  body {
    background-size: 100%;
  }
}

